<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table class="table-bordered">
    <tbody>
    <thead>
    <tr>
        <td>id</td>
        <td>username</td>
        <td>password</td>
        <td>email</td>
        <td>telephone</td>
        <td>ip</td>
        <td>date</td>
        <td>score</td>
    </tr>
</thead>

    {% if latest_meta_list %}
        {% load pagination_tags %}
        {% autopaginate latest_meta_list  %}

        {% for element in latest_meta_list %}
            <tr>
                <td>{{ element.user_id }}</td>
                <td>{{ element.username }}</td>
                <td>{{ element.password }}</td>
                <td>{{ element.email }}</td>
                <td>{{ element.telephone }}</td>
                <td>{{ element.last_login_ip }}</td>
                <td>{{ element.last_login_date }}</td>
                <td>{{ element.credit_score }}</td>
            </tr>
        {% endfor %}
        {% paginate %}
    {% endif %}
    </tbody>
</table>

</body>
</html>